*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
	background-color: #1e1e1e;
}
.hero-section {
	background: none;
	color: #e1e1e1;
	/*  */
	padding: 50px 100px;
}
.hero-section .hero-title {
	color: #e1e1e1;
	text-align: left;
	/*  */
	margin-bottom: 50px;
}
.labels-cont {
	width: fit-content;
	/*  */
	padding: 20px;
	border: 1.4px dashed #6b6a6a;
	border-radius: 10px;
}
.labels-cont-1 {
	width: fit-content;
	/*  */
	margin-bottom: 50px;
}
.labels-cont .labels {
	display: flex;
	align-items: center;
	gap: 2rem;
	flex-wrap: wrap;
}
.labels-cont .labels span {
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 10px;
	border-radius: 10px;
	/*  */
	padding: 10px 20px;
}
.labels-cont-1 .labels span:nth-of-type(1) {
}
.labels-cont-1 .labels span:nth-of-type(2) {
	background-color: #595959;
}
.labels-cont-1 .labels span:nth-of-type(3) {
	background-color: #585858;
	border-radius: 20px;
}
.labels-cont-1 .labels span:nth-of-type(4) {
	background-color: #34c759;
	border-radius: 20px;
}
.labels-cont-1 .labels span:nth-of-type(5) {
	background-color: #eaeaea;
	border-radius: 20px;
	color: #000;
}
.labels-cont-1 .labels span:nth-of-type(6) {
	background-color: #d85d4f;
	border-radius: 20px;
}

.labels-cont-2 .labels span:nth-of-type(2) {
	background: linear-gradient(to right, #6b6b6b, #5a5a5a, #484848);
	border-radius: 100%;
	display: block;
	/* width: 40px;
	height: 40px; */
	padding: 14px;
	/*  */
	display: grid;
	place-content: center;
}
.labels-cont-2 .labels span:nth-of-type(2) img {
	display: block;
	/* width: 40px; */
}
.labels-cont-2 .labels span:nth-of-type(4) {
	background: linear-gradient(to right, #6b6b6b, #5a5a5a, #484848);
	border-radius: 20px;
}
.labels-cont-2 .labels span:nth-of-type(5) {
	background: linear-gradient(to right, #6b6b6b, #5a5a5a, #484848);
	border-radius: 20px;
	padding: 0;
	padding-right: 20px;
}

.dots-cont {
	padding: 20px 20px;
	border: 1.4px dashed #6b6a6a;
	border-radius: 10px;
}
.dots-cont {
	width: fit-content;
	/*  */
	margin-top: 50px;
}
.dots-cont .dots {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 2rem;
	flex-wrap: wrap;
}
.cont {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 2rem;
	flex-wrap: wrap;
}
.dots-cont .dots span {
	cursor: pointer;
	width: 60px;
	height: 60px;
	display: grid;
	place-content: center;
	/*  */
	padding: 20px;
	border-radius: 100%;
}
.dots-cont .dots span:nth-of-type(1) i,
.dots-cont .dots span:nth-of-type(2) i,
.dots-cont .dots span:nth-of-type(3) i {
	font-size: 20px;
}
.dots-cont .dots span:nth-of-type(1) {
	background-color: #595959;
}
.dots-cont .dots span:nth-of-type(2) {
	background-color: #3c84f5;
}
.dots-cont .dots .cont span:nth-of-type(1),
.dots-cont .dots .cont span:nth-of-type(2) {
	background: none;
}
.dots-cont .dots .cont span:nth-of-type(2) i {
	font-size: 50px;
}
.dots-cont .dots .cont span:nth-of-type(3) i {
	font-size: 60px;
}

.label-cont {
	padding: 20px 20px;
	border: 1.4px dashed #6b6a6a;
	border-radius: 10px;
}
.label-cont {
	width: fit-content;
	/*  */
	margin-top: 50px;
}
.label-cont .label {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 2rem;
	flex-wrap: wrap;
}
.label-cont .label span {
	cursor: pointer;
	width: 100px;
	/* height: 60px; */
	/* display: grid;
	place-content: center; */
	/*  */
	padding: 10px 20px;
	border-radius: 100%;
}
.label-cont .label span:nth-of-type(2) {
	background-color: #575757;
	padding: 10px 20px;
	border-radius: 20px;
}

.image-cont {
	padding: 20px 40px;
	border: 1.4px dashed #6b6a6a;
	border-radius: 10px;
}
.image-cont {
	width: fit-content;
	/*  */
	margin-top: 50px;
}
.image-cont .image {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 2rem;
	flex-wrap: wrap;
}
.image-cont .image span:nth-of-type(1) img {
	width: 20px;
	cursor: pointer;
}
.image-cont .image span:nth-of-type(2) img {
	width: 30px;
	cursor: pointer;
}
.range-cont {
	margin-top: 50px;
	padding: 20px 20px;
	border: 1.4px dashed #6b6a6a;
	border-radius: 10px;
}

.range-cont span input {
	accent-color: #565656;
}
.range-cont span input::-webkit-slider-thumb {
	color: coral;
	/* height: 100%; */
}
.range-cont span:nth-of-type(2) input {
	margin-bottom: 0;
}

@media only screen and (max-width: 769px) {
	.hero-section {
		padding: 50px 50px;
	}
}

@media only screen and (max-width: 500px) {
	.hero-section {
		padding: 50px 30px;
	}
	/* .labels-cont-2 .labels span:nth-of-type(1), */
	.labels-cont-2 .labels span:nth-of-type(6) {
		padding: 10px 0;
	}
	.hero-section .hero-title {
		font-size: 32px;
		margin-bottom: 30px;
	}
}
